<!DOCTYPE html>

<html> 
  <%- include("partials/head") %>
  <body>
    <%- include("partials/navbar") %>
    <div id="blur"></div>
    <div id="about-container">
      <div id="about">
        <h2 class="title">About Me</h2>
        <p id="entire"><span id="bio"><span id="let">let</span> Chival_Bio = <span id="keyword">new</span> Bio(<span id="string">'</span><span id="flicker">|</span>);</span></p>
      </div>
      <div id="skills" class="tab-pane">
        <h2 class="title tech-title">Technical Skills</h2>
        <div class="skills-container">
          <i class="devicon-html5-plain-wordmark colored"></i>
          <i class="devicon-css3-plain-wordmark colored"></i>
          <i class="devicon-javascript-plain colored"></i>
          <i class="devicon-jquery-plain-wordmark colored"></i>
          <i class="devicon-bootstrap-plain-wordmark colored"></i>
          <i class="devicon-react-original-wordmark colored"></i>
          <i class="devicon-nodejs-plain-wordmark colored"></i>
          <i class="devicon-mongodb-plain-wordmark colored"></i>
          <i class="devicon-git-plain-wordmark colored"></i>
        </div>
      </div>
    </div>          
    <%- include("partials/scripts") %>
  </body>
</html>          
