<!DOCTYPE html>

<html> 
  <%- include("partials/head") %>
  <body>
    <%- include("partials/navbar") %>
    <div id="blur"></div>
    <div id="about-container">
      <div id="about">
        <h2 class="title">About Me</h2>
        <p><span id="bio"><span class="inner-bio">let Chival_Bio = new Bio("</span>I'm Chival, a fresh full stack developer based in New York. After graduating from university, 
        I developed a passion for web development and began learning as much as I could. From HTML and CSS to all things Javascript, I was determined to pave my way to a new career. It's never too late to start doing what you love.
        Currently, my go-to tech stack is MongoDB, Express/Node, and React, and I'm excited to learn other technologies in my journey. In my spare time you can find me jamming on the piano and bass.<span class="inner-bio">");</span></span></p>
      </div>
      <div id="skills" class="tab-pane">
        <h2 class="title tech-title">Technical Skills</h2>
        <div class="skills-container">
          <h3 class="title-skill" id="html">HTML 5</h3>
          <h3 class="title-skill" id="css">CSS 3</h3>
          <h3 class="title-skill" id="javascript">JavaScript</h3>
          <h3 class="title-skill" id="jquery">JQuery</h3>
          <h3 class="title-skill" id="bootstrap">Bootstrap</h3>
          <h3 class="title-skill" id="react">React.js</h3>
          <h3 class="title-skill" id="node">Node.js</h3>
          <h3 class="title-skill" id="mongo">MongoDB</h3>
          <h3 class="title-skill" id="git">Git</h3>
          <h3 class="title-skill" id="ejs">EJS</h3>
        </div>
      </div>
    </div>          
    <%- include("partials/scripts") %>
  </body>
</html>          
