<!DOCTYPE html>

<html>
  <%- include("partials/head") %>
  <body>
    <%- include("partials/navbar") %>
    <div id="blur"></div>
    <div id="contact-container">
      <h1 class="title">Contact Me</h1>
      <div>
        <form class="send-mail" method="POST" action="/send">
          <label for="name">Name: </label>
          <input class="form-control" id="name" name="name" type="text" placeholder="Your name" required/>
          <label for="address">Address: </label>
          <input class="form-control" id="address" name="address" type="text" placeholder="Your email address" required/>
          <label for="subject">Subject: </label>
          <input class="form-control" id="subject" name="subject" type="text" placeholder="Subject" required/>
          <label for="message">Message: </label>
          <textarea class="form-control" name="message" id="message" placeholder="Enter message here" required></textarea> 
          <button class="btn btn-success" type="submit">Submit</button>
        </form>  
      </div>
    </div>
    <%- include("partials/scripts") %>
  </body>
</html>      