<!DOCTYPE html>

<html>
  <%- include("partials/head") %>
  <body>
    <%- include("partials/navbar") %>
    <div id="blur"></div>
    <div id="projects-container">
      <div id="front-end">
        <h3 class="title">Front End</h3> 
        <div class="projects">
          <img class="proj-img" src="/static/images/197.jpg" alt="TicketYum"/>
          <h3 class="app-name">TicketYum</h3>
          <p class="description">Built front end for start-up company TicketYum. <span class="built">Built with HTML, CSS, JavaScript, and jQuery.</span></p>
          <p><a target="_blank" href="https://ticketyum.com"><img class="icon" src="/static/images/recordpressed.png"/>Live Page</a></p>
        </div>
        <div class="projects">
          <img class="proj-img" src="/static/images/188.jpg" alt="Apartments Page"/>
          <h3 class="app-name">Apartments.com Clone</h3>
          <p class="description">This is a functional clone of the front page of apartments.com, including location via ip address, images that rearrange with every page refresh, and working input dropdowns with selectable rent and bed/bath options. <span class="built">Built with HTML, Sass, JavaScript, and jQuery.</span></p>
          <p><a target="_blank" href="https://github.com/codefu-chivy/apartments-clone"><img class="icon" src="/static/images/github.png"/>GitHub</a><a target="_blank" href="https://apartments-clone.herokuapp.com"><img class="icon" src="/static/images/recordpressed.png"/>Live Page</a></p>
        </div> 
        <div class="projects">
          <img class="proj-img" src="/static/images/198.jpg" alt="Vue Blog"/>
          <h3 class="app-name">Vue.js Blog</h3>
          <p class="description">A blog where users can add new posts and search for current ones. <span class="built">Built with Vue.js and Firebase.</span></p>
          <p><a target="_blank" href="https://github.com/codefu-chivy/vue-blog"><img class="icon" src="/static/images/github.png"/>GitHub</a><a target="_blank" href="https://vuejs-blog.surge.sh"><img class="icon" src="/static/images/recordpressed.png"/>Live Page</a></p>
        </div>
        <div class="projects">
          <img class="proj-img" src="/static/images/184.jpg" alt="simon game"/>
          <h3 class="app-name">React Recipe Book</h3>
          <p class="description">An application made with React that allows users to create, modify and delete recipes. Uses local storage to save recipes. <span class="built">Built with React.</span></p>
          <p><a target="_blank" href="https://github.com/codefu-chivy/react-recipe-book"><img class="icon" src="/static/images/github.png"/>GitHub</a><a target="_blank" href="https://codefu-reactrecipes.surge.sh/"><img class="icon" src="/static/images/recordpressed.png"/>Live Page</a></p>
        </div>
        <div class="projects">
          <img class="proj-img" src="/static/images/173.jpg" alt="simon game"/>
          <h3 class="app-name">Simon Game</h3>
          <p class="description">An application that emulates the design and functionalities of the Simon game. <span class="built">Built with HTML, CSS, JavaScript and jQuery.</span></p>
          <p><a target="_blank" href="https://github.com/codefu-chivy/simon-game"><img class="icon" src="/static/images/github.png"/>GitHub</a><a target="_blank" href="https://codefu-simongame.surge.sh/"><img class="icon" src="/static/images/recordpressed.png"/>Live Page</a></p>
        </div>
        <div class="projects">
          <img class="proj-img" src="/static/images/175.jpg" alt="wikipedia viewer"/>
          <h3 class="app-name">Wikipedia Viewer</h3>
          <p class="description">Utilizes AJAX and the Wiki API to allow users to search for Wikipedia articles. <span class="built">Built with HTML, CSS and jQuery.</span></p>
          <p><a target="_blank" href="https://github.com/codefu-chivy/wikipedia-viewer"><img class="icon" src="/static/images/github.png"/>GitHub</a><a target="_blank" href="https://codefu-wikiviewer.surge.sh/"><img class="icon" src="/static/images/recordpressed.png"/>Live Page</a></p>
        </div>
        <div class="projects">  
          <img class="proj-img" src="/static/images/186.jpg" alt="quotes generator"/>
          <h3 class="app-name">Random Quotes Generator</h3>
          <p class="description">Utilizes AJAX and two quotes APIs to display random quotes and quotes of the day. <span class="built">Built with HTML, CSS, JavaScript and jQuery.</span></p>
          <p><a target="_blank" href="https://github.com/codefu-chivy/quotes-generator"><img class="icon" src="/static/images/github.png"/>GitHub</a><a target="_blank" href="https://codefu-ranquotes.surge.sh/"><img class="icon" src="/static/images/recordpressed.png"/>Live Page</a></p>
        </div>
        <div class="projects">
          <img class="proj-img" src="/static/images/176.jpg" alt="timer"/>
          <h3 class="app-name">Pomodoro Timer</h3>
          <p class="description">A timer based on the pomodoro technique where one works in small intervals followed by a break. <span class="built">Built with HTML, CSS, JavaScript and jQuery.</span></p>
          <p><a target="_blank" href="https://github.com/codefu-chivy/pomodoro-timer"><img class="icon" src="/static/images/github.png"/>GitHub</a><a target="_blank" href="https://codefu-timers.surge.sh/"><img class="icon" src="/static/images/recordpressed.png"/>Live Page</a></p>
        </div>
        <div class="projects">
          <img class="proj-img" src="/static/images/183.jpg" alt="simon game"/>
          <h3 class="app-name">React Registration Form</h3>
          <p class="description">A sample registration form made to demonstrate skills with React. <span class="built">Built with React.</span></p>
          <p><a target="_blank" href="https://github.com/codefu-chivy/react-reg-form"><img class="icon" src="/static/images/github.png"/>GitHub</a><a target="_blank" href="https://codefu-registration.surge.sh/"><img class="icon" src="/static/images/recordpressed.png"/>Live Page</a></p>
        </div>
        <div class="projects">
          <img class="proj-img" src="/static/images/182.jpg" alt="simon game"/>
          <h3 class="app-name">React Leaderboard</h3>
          <p class="description">A leaderboard application made with React that displays the top users of freeCodeCamp. <span class="built">Built with React.</span></p>
          <p><a target="_blank" href="https://github.com/codefu-chivy/react-leaderboard"><img class="icon" src="/static/images/github.png"/>GitHub</a><a target="_blank" href="https://codefu-leaderboard.surge.sh/"><img class="icon" src="/static/images/recordpressed.png"/>Live Page</a></p>
        </div>
        <!--<div class="projects">
          <img class="proj-img" src="/static/images/177.jpg" alt="calculator"/>
          <h3 class="app-name">Calculator</h3>
          <p class="description">A scientific calculator application. <span class="built">Built with HTML, CSS, Javascript and jQuery.</span></p>
          <p><a target="_blank" href="https://github.com/codefu-chivy/calculator"><img class="icon" src="/static/images/github.png"/>GitHub</a><a target="_blank" href="https://codefu-jscalculator.surge.sh/"><img class="icon" src="/static/images/recordpressed.png"/>Live Page</a></p>
        </div>-->
        <div class="projects">
          <img class="proj-img" src="/static/images/180.jpg" alt="tribute page"/>
          <h3 class="app-name">Tribute Page</h3>
          <p class="description">A tribute page to the late jazz musician Joe Sample. <span class="built">Built with HTML, CSS and jQuery.</span></p>
          <p><a target="_blank" href="https://github.com/codefu-chivy/tribute-page"><img class="icon" src="/static/images/github.png"/>GitHub</a><a target="_blank" href="https://codefu-tribute.surge.sh/"><img class="icon" src="/static/images/recordpressed.png"/>Live Page</a></p>
        </div>
      </div>

      <div id="full-stack">
        <h3 class="title">Full Stack</h3>
        <div class="projects">
          <img class="proj-img" src="/static/images/179.jpg"/>
          <h3 class="app-name">Voting Application</h3>
          <p class="description">A full stack application where users can vote on available polls and authenticated users can create new polls. <span class="built">Built with React.js, Node.js, Express.js, MongoDB/Mongoose, Chart.js, and React Stormpath for authentication.</span></p>
          <p><a target="_blank" href="https://github.com/codefu-chivy/polling-app"><img class="icon" src="/static/images/github.png"/>GitHub</a><a target="_blank" href="https://pollers-app.herokuapp.com"/><img class="icon" src="/static/images/recordpressed.png"/>Live Page</a></p>
        </div>
        <div class="projects">
          <img class="proj-img" src="/static/images/199.jpg"/>
          <h3 class="app-name">Nightlife Application</h3>
          <p class="description">A full stack application that utilizes the Yelp API, where users can search for local (or any) bars and nightclubs based on their location. <span class="built">Built with React.js, Node.js, Express.js, MongoDB/Mongoose, and the Yelp API.</span></p>
          <p><a target="_blank" href="https://github.com/codefu-chivy/nightowls-app"><img class="icon" src="/static/images/github.png"/>GitHub</a><a target="_blank" href="https://nightowls-app-1991.herokuapp.com"/><img class="icon" src="/static/images/recordpressed.png"/>Live Page</a></p>
        </div> 
        <div class="projects">
          <img class="proj-img" src="/static/images/187.jpg"/>
          <h3 class="app-name">Music Store Application</h3>
          <p class="description">A full stack application built for a client where users can purchase their music. <span class="built">Being built with React.js, Node.js, Paypal API, Express.js, and MongoDB/Mongoose.</span></p>
          <p><a target="_blank" href="https://github.com/codefu-chivy/rrproductions"><img class="icon" src="/static/images/github.png"/>GitHub</a><a target="_blank" href="http://www.doublerrproductions.com"/><img class="icon" src="/static/images/recordpressed.png"/>Live Page</a></p>
        </div>
      </div>   
    </div>
    <%- include("partials/scripts") %>
  </body>
</html>          

