<header>
    <nav>
      <ul class="navbar">
        <li id="left"><h2><a id="title" href="/about">Chival Trotman</a></h2></li>
        <li class="center"><a class="menu nav-link" href="/about">About</a></li>
        <li class="center"><a class="menu nav-link" href="/projects">Projects</a></li>
        <li class="center"><button id="col-button" class="btn collapse">Menu</button></li>
      </ul> 
    </nav>  
</header>  