<header>
  <div>
    <a href="/about"><h2 id="title">Chival Trotman</h2></a>
  </div>
  <div>  
    <nav>
      <ul class="navbar">
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>  
  </div>
</header>  